<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{administrator/layout :: layout('ログイン', ~{::main})}">
<head>
</head>
<body>
<main>
    <form method="post" action="../employee/list.html" th:action="@{/admin/login}"
          th:object="${administratorLoginForm}">
        <fieldset>
            <legend>ログイン</legend>

            <div th:if="${#fields.hasGlobalErrors()}" class="form-group">
                <div class="alert alert-danger">
                    <p>メールアドレスまたはパスワードが間違っています</p>
                </div>
            </div>

            <div class="form-group">
                <label for="mailAddress">メールアドレス:</label>
                <input
                  type="email"
                  name="mailAddress"
                  id="mailAddress"
                  class="form-control"
                  placeholder="Email"
                  th:field="*{mailAddress}"
                  required
                />
            </div>
            <div class="form-group">
                <label for="inputPassword">パスワード:</label>
                <input
                  type="password"
                  name="password"
                  id="inputPassword"
                  class="form-control"
                  placeholder="Password"
                  th:field="*{password}"
                  required
                />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    ログイン
                </button>
            </div>
            <div class="form-group">
                <a href="insert.html" th:href="@{/admin/new}">管理者登録はこちらから</a>
            </div>
        </fieldset>
    </form>
</main>
</body>
</html>